@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@layer base {
  .g-text {
    @apply bg-gradient-to-r from-start to-mid1 to-mid2 to-end bg-clip-text text-transparent;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-archivo text-white;
  }

  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  a {
    @apply underline font-bold;
  }

  p {
    @apply font-avenir text-white;
  }
}

.gradient-text {
  background-image: linear-gradient(to left, #51e0c8, #6ca7f8);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

